.gradient_canvas {
  width: 100%;
  height: 100%;

  position: relative;
  top: 0;
  left: 0;
}

/* Home Page */

body[data-theme='lofi'] .gradient_canvas__home {
  --gradient-color-1: #ddeefc;
  --gradient-color-2: #c0def7;
  --gradient-color-3: #accde9;
  --gradient-color-4: #70b3eb;
}

body[data-theme='black'] .gradient_canvas__home {
  --gradient-color-1: #500f50;
  --gradient-color-2: #72044f;
  --gradient-color-3: #fa007b;
  --gradient-color-4: #d20278;
}

/* About Page */

body[data-theme='lofi'] .gradient_canvas__about {
  --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff;
}

body[data-theme='black'] .gradient_canvas__about {
  --gradient-color-1: #043d5d;
  --gradient-color-2: #032e46;
  --gradient-color-3: #23b684;
  --gradient-color-4: #0f595e;
}

/* Projects Page */

body[data-theme='lofi'] .gradient_canvas__projects {
  --gradient-color-1: #7ecdf2;
  --gradient-color-2: #c3e4ff;
  --gradient-color-3: #88bde6;
  --gradient-color-4: #b4cae9;
}

body[data-theme='black'] .gradient_canvas__projects {
  --gradient-color-1: #0c1533;
  --gradient-color-2: #192a56;
  --gradient-color-3: #0c1533;
  --gradient-color-4: #192a56;
}

/* Activities Page */

body[data-theme='lofi'] .gradient_canvas__activities {
  --gradient-color-1: #a960ee;
  --gradient-color-2: #ff333d;
  --gradient-color-3: #90e0ff;
  --gradient-color-4: #ffcb57;
}

body[data-theme='black'] .gradient_canvas__activities {
  --gradient-color-1: #301b3f;
  --gradient-color-2: #5f3781;
  --gradient-color-3: #361d48;
  --gradient-color-4: #735a8e;
}

/* Blog Page */

body[data-theme='lofi'] .gradient_canvas__blog {
  --gradient-color-1: #e6b5f0;
  --gradient-color-2: #f0d5e6;
  --gradient-color-3: #f4ecf7;
  --gradient-color-4: #deb6ec;
}

body[data-theme='black'] .gradient_canvas__blog {
  --gradient-color-1: #2a3241;
  --gradient-color-2: #444e5d;
  --gradient-color-3: #313d4e;
  --gradient-color-4: #526070;
}

/* Journal Page */

body[data-theme='lofi'] .gradient_canvas__journal {
  --gradient-color-1: #ffdc88;
  --gradient-color-2: #ffdca5;
  --gradient-color-3: #fff2cd;
  --gradient-color-4: #f0d897;
}

body[data-theme='black'] .gradient_canvas__journal {
  --gradient-color-1: #15202b;
  --gradient-color-2: #223344;
  --gradient-color-3: #15202b;
  --gradient-color-4: #223344;
}
