::selection {
    background: purple; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: purple; /* Gecko Browsers */
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

* {
    /* user-drag: none; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    background-color: black;
    padding: 0;
    margin: 0;

    font-family: 'San Francisco Pro Bold';
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}